#include <dt-bindings/zmk/matrix_transform.h>
/ {
	chosen {
		zmk,kscan = &kscan0;
		zephyr,display = &ssd1306;
	};

	kscan0: kscan_0 {
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
		wakeup-source;

		col-gpios
			= <&gpio1 06 GPIO_ACTIVE_HIGH>
			, <&gpio1 04 GPIO_ACTIVE_HIGH>
			, <&gpio0 11 GPIO_ACTIVE_HIGH>
			, <&gpio1 00 GPIO_ACTIVE_HIGH>
			, <&gpio0 24 GPIO_ACTIVE_HIGH>
			, <&gpio0 22 GPIO_ACTIVE_HIGH>
			;

		row-gpios
			= <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 02 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>

			;
	};

	default_transform: keymap_transform_0 {
			   compatible = "zmk,matrix-transform";
			   columns = <6>;
			   rows = <4>;

			   map = <
				   RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)
				   RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)
				   RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)
				   RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)
				   >;
		   };

	default_layout: default_layout {
			compatible = "zmk,physical-layout";
			display-name = "Default Layout";
			transform = <&default_transform>;
			kscan = <&kscan0>;
		};
		};

	&i2c1 {
	      status = "okay";
	      sda-pin = <17>;  // Remplacez par le pin SDA que vous utilisez
	      scl-pin = <20>;  // Remplacez par le pin SCL que vous utilisez
	      clock-frequency = <I2C_BITRATE_FAST>; // Utilisez la bonne fréquence d'horloge

	ssd1306: ssd1306@3c {
		 compatible = "ssd1306fb";
		 reg = <0x3c>;  // Adresse I2C de l'écran OLED
		 label = "SSD1306";
		 width = <128>;
		 height = <32>;
		 segmet-offset = <0>;
		 row-offset = <0>;
		 pages = <4>;
		 };
		 };

